<h4>フォロワー 一覧</h4>
<div class="container-child col-md-2 col-sm-4 col-xs-6 ">
    <!--選択されたUserのフォロワーを取り出して表示-->
    <% @user.followers.each do |user| %>
      <%= user.name %><br />
      <%= user.email %>
      <%= render 'follow_form', user: user %>
      <br>
    <% end %>
</div>
