<div class="container">
  <h2>ユーザー</h2>
  <% @users.each do |user| %>
      <div class="container-child col-md-2 col-sm-4 col-xs-6 ">
        <%= profile_img(user) %><br />
        <%= user.email %>
        <br>
        <br>
        <%= link_to user_path(user) do %>
          <p><strong>詳細</strong></p>
        <% end %>
        <%= render 'follow_form', user: user %>
      </div>
  <% end %>
</div>
